# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/Project1
/.vs/xll_vswap/CopilotIndices/17.14.995.13737
/.vs/xll_vswap/FileContentIndex
/.vs/xll_vswap/v17/ipch/AutoPCH
/.vs/xll_vswap/v17
/.vs/xll_vswap
/x64/Debug
/xll_vswap/x64/Debug
